* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========= HEADER ========= */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eff5fb;
  padding: 14px 0;
}

.header__container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > li {
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-align: center;
    margin-left: 30px;
  }
}

.header__button {
  width: 230px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  background: #e3f5f5;
  color: #03b2a5;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
}

/* ========= FOOTER ========= */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2963a3;
  padding: 40px 0 0;
}

.footer__container {
  width: 1200px;
}

.footer__block:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 92px;
}

.footer__block:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #9d9d9d4d;
  padding: 16px 0 17px;
  margin-top: 24px;

  span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  span + span {
    margin-left: 48px;
  }
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  & + .footer__text {
    margin-top: 16px;
  }
}

.footer__text--middle {
  width: 356px;
  font-size: 18px;
  line-height: 26px;
}

.footer__input {
  width: 384px;
  height: 48px;
  position: relative;
  margin: 8px 0;

  input {
    width: 384px;
    height: 48px;

    box-sizing: border-box;
    border: 1px solid #9d9d9d33;
    border-radius: 4px;
    background: #ffffff;
    padding: 14px 52px 14px 16px;


    &::placeholder {
      color: #9d9d9d;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;

    width: 64px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    background: #16c8bb;

    img {
      width: 19.46px;
      height: 21.31px;
      margin-left: 8px;
    }
  }
}

.footer__subtitle {
  width: 486px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;

  & > div {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    background: #eff5fb;

    & + div {
      margin-left: 16px;
    }
  }
}

/* ========= ОБЩИЕ СТИЛИ ========= */

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-container {
  width: 1200px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 30px;

  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 4px;
  }

  span, a {
    color: #333333b3;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: center;
  }
}

h1 {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 32px;
}

.article__title {
  margin-top: 54px;
  margin-bottom: 16px;
}

/* ========= БЛОГ ========= */

.filter-list > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 23px;
}

.filter-list--card-tags > ul {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 6px 8px 6px 8px;

  box-sizing: border-box;
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  cursor: pointer;

  span {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  & + .filter {
    margin-left: 8px;
  }

  &:hover {
    box-sizing: border-box;
    border: 1px solid #16c8bb;
    border-radius: 24px;
    background: #f9fdfd;
  }
}

.filter--card-tag {
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  background: #ffffffb3;

  & + .filter--card-tag {
    margin-left: 0px;
    margin-top: 8px;
  }

  &:hover {
    background: #ffffffb3;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 1fr repeat(2, 475px);
  row-gap: 23px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.card__img {
  position: relative;
  height: 260px;

  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.card__info {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  background: #ffffff;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

    .card__link {
      display: inline-block;
      transition: .1s;

      &:hover {
        color: red;
        transition: .2s;
      }
    }
  }
}

.card--big {
  width: 588px;

  .card__info {
    height: 240px;
  }
}

.card--small {
  width: 384px;

  .card__info {
    height: 216px;
  }
}

.card--big1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}

.card--big2 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 7;
  margin-left: auto;
}

.card--small-column1 {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: start;
}

.card--small-column2 {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: center;
}

.card--small-column3 {
  grid-column-start: 5;
  grid-column-end: 7;
  justify-self: end;
}

.card__author {
  color: #494949;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-top: 4px;
}

.card__description {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 8px;
}

.card__time {
  color: #868686;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-top: auto;
}

.more-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 96px;
}

.more-button {
  width: 182px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background:#35b3a9;
  
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}


/* ========= СТАТЬЯ ========= */

.article-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;


  article {
    width: 690px;
  }

  aside {
    width: 282px;
  }
}

.article__author {
  color: #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.article__separator::before {
  content: "·";
  display: inline-block;
  line-height: 1;
  padding-bottom: 2px;
  vertical-align: middle;
}

.article__contents {
  margin-top: 24px;

  h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
  }
}

.article__list {
  list-style: disc;
  margin-left: 22px;

  &.text_underline li {
    text-decoration-line: underline;
  }

  & > li {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    & + li:not(:last-child) {
      margin-top: 8px;
    }

    ul {
      margin-left: 18px;

      li {
        margin-top: 4px;
      }
    }

    &:last-child {
      margin-top: 14px;
    }

    &::marker {
      color: #03B2A5;
      font-size: 24px;
    }
  }
}

.article__block-one {
  p {
    margin-bottom: 40px;
  }
}

.article__block-title {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 16px;
}

.article__text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.article__quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  padding: 34px 24px 24px;
  border-radius: 16px;
  background: #f3f7fe;

  img {
    position: absolute;
    top: 24px;
  }

  blockquote {
    color: #333333;
    font-style: Italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
  }

  figcaption {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    cite {
      font-style: normal;
    }
  }
}

.article__block-two {
  .article__list {
    margin-bottom: 24px;

    & > li {
        &:last-child {
            margin-top: 16px;
        }
    }
  }
}

.img-and-subtitle {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 24px;

  figcaption {
    margin: 16px 0 0;
  }
}

.article__excerpt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 691px;
  height: 168px;
  text-align: center;
  position: relative;
  background-image: url("../assets/excerpt.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #333333;
  font-style: Italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 24px 0;

  span {
    display: block;
    width: 485px;
    height: 96px;
  }
}

.article__photot-left-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 24px 0;

  .article__text {
    margin-left: 24px;
  }
}

.article__exercise {
  padding: 24px;
  border-radius: 16px;
  background: #fefaec;
  margin: 24px 0;

  figcaption {
    margin-bottom: 8px;
  }

  strong {
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

  &.article__exercise--blue {
    background: #03B2A51A;
  }
}

.article__vertical-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.article__vertical-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .article__text {
    margin-top: 24px;
  }

  & + .article__vertical-text {
    margin-left: 24px;
  }
}

.article__seporator-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.article__tags {
  margin-bottom: 48px;

  .article__tags-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;

    span {
      color: #2963a3;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }

    span + span::before {
      content: ".";
      display: inline-block;
      height: 20px;
      line-height: 1;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 8px;
      padding-bottom: 2px;
    }
  }
}

/* ======== ОБРАТНАЯ СВЯЗЬ ========= */

.feedback__line {
  width: 1200px;
  height: 0;
  border: 1px solid #dedede;
  margin-bottom: 72px;
}

.feedback__blocks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 64px;
}

.feedback__left-block {
  display: flex;
  width: 348px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.feedback__title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.feedback__subtitle {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}

.feedback__button {
  width: 238px;
  height: 60px;
  padding: 20px 24px 20px 24px;
  border-radius: 4px;
  background: #16c8bb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 32px;
}

.feedback__right-block {
  display: flex;
  width: 448.89px;
  height: 330px;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../assets/feedback.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;


  img {
    width: 369px;
    height: 369px;
    margin-left: -6px;
    margin-bottom: -1px;
  }
}