* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

a {
  text-decoration: none;
  color: inherit;
}

ul, ol {
  list-style: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* ========= HEADER ========= */

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #eff5fb;
  padding: 14px 0;
}

.header__container {
  width: 1200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__menu > ul {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & > li {
    font-size: 14px;
    font-weight: 500;
    line-height: 114%;
    letter-spacing: 0.25px;
    text-align: center;
    margin-left: 30px;
  }
}

.header__button {
  width: 230px;
  height: 48px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 14px 20px 14px 20px;
  border-radius: 4px;
  background: #e3f5f5;
  color: #03b2a5;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
}

.header__burger-menu {
  display: none;
  padding: 11px;
}

/* ==== Адаптив HEADER ==== */

@media (max-width: 1260px) {
  .header__container {
    width: 1024px;
  }
}

/* iPad Pro */
/* @media (max-width: 1024px) { */
@media (max-width: 1084px) {
  .header__container {
    width: 960px;
  }

  .header__menu > ul {
    & > li {
      margin-left: 16px;
    }
  }
}

@media (max-width: 992px) {
  .header__container {
    width: 828px;
  }

  .header__menu, .header__button {
    display: none;
  }

  .header__burger-menu {
    display: block;
  }
}

@media (max-width: 868px) {
  .header__container {
    width: 728px;
  }
}

/* iPad mini */
@media (max-width: 768px) {
  .header__container {
    width: 600px;
  }
}

@media (max-width: 640px) {
  .header__container {
    width: 460px;
  }

  .header__logo img {
    width: 48px;
    height: 34px;
  }
}

@media (max-width: 474px) {
  .header__container {
    width: 414px;
  }
}

/* iPhone 11 Pro Max */
@media (max-width: 414px) {
  .header__container {
    width: 374px;
  }
}

@media (max-width: 380px) {
  .header__container {
    width: 288px;
  }
}

/* iPhone SE */
@media (max-width: 320px) {
  .header__container {
    width: 288px;
  }

  .header__burger-menu {
    padding: 11px 3px 11px 11px; 
  }
}

/* ========= FOOTER ========= */

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #2963a3;
  padding: 40px 0 0;
}

.footer__container {
  width: 1200px;
}

.footer__block:first-child {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 92px;
}

.footer__block:last-child {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-top: 1px solid #9d9d9d4d;
  padding: 16px 0 17px;
  margin-top: 24px;

  span {
    color: #ffffff;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  span + span {
    margin-left: 48px;
  }
}

.footer__text {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;

  & + .footer__text {
    margin-top: 16px;
  }
}

.footer__text--middle {
  width: 356px;
  font-size: 18px;
  line-height: 26px;
}

.footer__input {
  width: 384px;
  height: 48px;
  position: relative;
  margin: 8px 0;

  input {
    width: 384px;
    height: 48px;

    box-sizing: border-box;
    border: 1px solid #9d9d9d33;
    border-radius: 4px;
    background: #ffffff;
    padding: 14px 52px 14px 16px;


    &::placeholder {
      color: #9d9d9d;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }
  }

  button {
    position: absolute;
    top: 0;
    right: 0;

    width: 64px;
    height: 48px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 14px 20px 14px 20px;
    border-radius: 4px;
    background: #16c8bb;

    img {
      width: 19.46px;
      height: 21.31px;
      margin-left: 8px;
    }
  }
}

.footer__subtitle {
  width: 486px;
  color: #ffffff;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
}

.footer__social {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 40px;

  & > div {
    width: 32px;
    height: 32px;
    border-radius: 60px;
    background: #eff5fb;

    & + div {
      margin-left: 16px;
    }
  }
}

/* ========= Адаптив FOOTER ========= */

/* @media (max-width: 1260px) {
  .main-container {
    width: 1024px;
  }
}
@media (max-width: 1084px) {
  .main-container {
    width: 960px;
  }
}
@media (max-width: 992px) {
  .main-container {
    width: 828px;
  }
}
@media (max-width: 868px) {
  .main-container {
    width: 728px;
  }
}
@media (max-width: 768px) {
  .main-container {
    width: 600px;
  }
}
@media (max-width: 640px) {
  .main-container {
    width: 460px;
  }
}
@media (max-width: 474px) {
  .main-container {
    width: 414px;
  }
}
@media (max-width: 414px) {
  .main-container {
    width: 374px;
  }
}
@media (max-width: 380px) {
  .main-container {
    width: 288px;
  }
}
@media (max-width: 320px) {
  .main-container {
    width: 288px;
  }
} */

/* @media (max-width: 1260px) {}
@media (max-width: 1084px) {}
@media (max-width: 992px) {}
@media (max-width: 868px) {}
@media (max-width: 768px) {}
@media (max-width: 640px) {}
@media (max-width: 474px) {}
@media (max-width: 414px) {}
@media (max-width: 380px) {}
@media (max-width: 320px) {} */

@media (max-width: 1260px) {
  .footer__container {
    width: 1024px;
  }

  .footer__block:first-child {
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 20px;
  }
}

/* iPad Pro */
/* @media (max-width: 1024px) { */
@media (max-width: 1084px) {
  .footer__container {
    width: 960px;
  }

  /* .footer__block:first-child {
    grid-template-columns: 1fr 1fr 2fr 1fr;
    gap: 20px;
  } */
}

@media (max-width: 992px) {
  .footer__container {
    width: 828px;
  }

  .footer__block:first-child {
    grid-template-columns: 111px 106px 1fr;
    grid-template-rows: 1fr 1fr;

    & > *:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .footer {
    margin-top: 59px;
  }
}

@media (max-width: 868px) {
  .footer__container {
    width: 728px;
  }
}

/* iPad mini */
@media (max-width: 768px) {
  .footer__container {
    width: 600px;
  }

  .footer__block:first-child {
    grid-template-columns: 111px 106px 1fr;
    grid-template-rows: 1fr 1fr;

    & > *:nth-child(4) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .footer__input {
    width: 100%;

    input {
      width: 100%;
    }
  }

  .footer__subtitle {
    width: 100%;
  }
}

@media (max-width: 640px) {
  .footer__container {
    width: 460px;
  }

  .footer__block:first-child {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

    & > *:nth-child(3) {
      grid-column-start: 1;
      grid-column-end: 3;
    }
  }

  .footer__text--middle {
    width: 100%;
  }

  .footer__block:last-child {
    flex-direction: column;
    align-items: flex-start;

    span + span {
      margin-left: 0px;
      margin-top: 20px;
    }
  }
}

@media (max-width: 474px) {
  .footer__container {
    width: 414px;
  }
}


/* iPhone 11 Pro Max */
@media (max-width: 414px) {
  .footer__container {
    width: 374px;
  }
}

@media (max-width: 380px) {
  .footer__container {
    width: 288px;
  }
}

/* iPhone SE */
@media (max-width: 320px) {
  .footer__container {
    width: 288px;
  }
}

/* ========= ОБЩИЕ СТИЛИ ========= */

main {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.main-container {
  width: 1200px;
}

.breadcrumbs {
display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 16px;

  img {
    display: block;
    width: 16px;
    height: 16px;
    margin: 0 8px 0 4px;
  }

  span, a {
    color: #333333b3;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.25px;
    text-align: center;
  }
}

h1 {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.blog-title {
  margin-top: 30px;
  margin-bottom: 32px;
}

.article__title {
  margin-bottom: 16px;
}

/* ==== Адаптив ОБЩИЕ СТИЛИ ==== */

@media (max-width: 1260px) {
  .main-container {
    width: 1024px;
  }
}

/* iPad Pro */
/* @media (max-width: 1024px) { */
@media (max-width: 1084px) {
  .main-container {
    width: 960px;
  }

  .blog-title {
    margin-top: 40px;
  }
}

@media (max-width: 992px) {
  .main-container {
    width: 828px;
  }
}

@media (max-width: 868px) {
  .main-container {
    width: 728px;
  }
}

/* iPad mini */
@media (max-width: 768px) {
  .main-container {
    width: 600px;
  }
}

@media (max-width: 640px) {
  .main-container {
    width: 460px;
  }

  .breadcrumbs {
    margin-top: 12px;

    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      max-width: 100%;
    }
  }
    
}

@media (max-width: 474px) {
  .main-container {
    width: 414px;
  }
}

/* iPhone 11 Pro Max */
@media (max-width: 414px) {
  .main-container {
    width: 374px;
  }

  .blog-title {
    margin-top: 32px;
    margin-bottom: 24px;
  }
}

@media (max-width: 380px) {
  .main-container {
    width: 288px;
  }
}

/* iPhone SE */
@media (max-width: 320px) {
  .main-container {
    width: 288px;
  }

  .blog-title {
    margin-top: 24px;
  }
}


/* ========= БЛОГ ========= */

.filter-list > ul {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 23px;
}

.filter-list--card-tags > ul {
  position: absolute;
  top: 8px;
  left: 8px;
  display: inline-flex;
  align-items: flex-start;
  flex-direction: column;
}

.filter {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 4px;
  padding: 6px 8px 6px 8px;

  box-sizing: border-box;
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  cursor: pointer;

  margin-right: 8px;


  span {
    color: #333333;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0px;
    text-align: left;
  }

  &:hover {
    box-sizing: border-box;
    border: 1px solid #16c8bb;
    border-radius: 24px;
    background: #f9fdfd;
  }
}

.filter--card-tag {
  border: 1px solid #c1c5cd;
  border-radius: 24px;
  background: #ffffffb3;

  & + .filter--card-tag {
    margin-left: 0px;
    margin-top: 8px;
  }

  &:hover {
    background: #ffffffb3;
  }
}

.articles {
  display: grid;
  grid-template-columns: repeat(6, 200px);
  grid-template-rows: 1fr repeat(2, 475px);
  row-gap: 23px;
}

.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
}

.card__img {
  position: relative;
  height: 260px;
  overflow: hidden;

  & > a {
    display: block;
  }

  img {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }
}

.card__info {
  display: flex;
  flex-direction: column;
  border: 1px solid #dedede;
  background: #ffffff;
  padding: 16px;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;

  h4 {
    color: #333333;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

    .card__link {
      display: inline-block;
      transition: .1s;

      &:hover {
        color: red;
        transition: .2s;
      }
    }
  }
}

.card--big {
  width: 588px;

  .card__info {
    height: 240px;
  }
}

.card--small {
  width: 384px;

  .card__info {
    height: 216px;
  }
}

.card--big1 {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 4;
}

.card--big2 {
  grid-row-start: 1;
  grid-column-start: 4;
  grid-row-end: 2;
  grid-column-end: 7;
  margin-left: auto;
}

.card--small-column1 {
  grid-column-start: 1;
  grid-column-end: 3;
  justify-self: start;
}

.card--small-column2 {
  grid-column-start: 3;
  grid-column-end: 5;
  justify-self: center;
}

.card--small-column3 {
  grid-column-start: 5;
  grid-column-end: 7;
  justify-self: end;
}

.card__author {
  color: #494949;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-top: 4px;
}

.card__description {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 8px;
}

.card__time {
  color: #868686;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.25px;
  text-align: left;
  margin-top: auto;
}

.more-button-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 96px;
}

.more-button {
  width: 182px;
  height: 48px;
  padding: 12px 16px 12px 16px;
  border-radius: 4px;
  background:#35b3a9;
  
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

/* ========= Адаптив БЛОГ ========= */

/* iPad Pro */
@media (max-width: 1024px) {
  .filter:not(.filter--card-tag) {
    margin-bottom: 8px;
  }

  .articles {
    grid-template-columns: repeat(6, 160px);
    grid-template-rows: 1fr repeat(2, 458px);
  }

  .card--big {
    width: 468px;
  }

  .card--small {
    width: 304px;

    .card__info {
      height: 253px;
      min-height: 253px;
    }
  }

  .card:nth-child(3) {
    .card__description {
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      max-width: 200px;
    }
  }

  .card__info {
    h4 {
      letter-spacing: -1%;
    }
  }
  
  .more-button-wrapper {
    padding: 35px 60px;
  }
}

/* iPad mini */
@media (max-width: 768px) {
  .articles {
    grid-template-columns: repeat(2, 352px);
    grid-template-rows: 1fr 1fr repeat(3, 446px);
    column-gap: 24px;
  }

  .card--big {
    .card__info {
        height: 196px;
    }
  }

  .card--big {
    width: 100%;
  }

  .card--big1 {
    grid-row-start: 1;
    grid-column-start: 1;
    grid-row-end: 2;
    grid-column-end: 3;
  }

  .card--big2 {
    grid-row-start: 2;
    grid-column-start: 1;
    grid-row-end: 3;
    grid-column-end: 3;
    margin-left: unset;
  }

  .card.card--small:nth-child(odd) {
    grid-column-start: 1;
    grid-column-end: 2;
    justify-self: flex-start;
  }

  .card.card--small:nth-child(even) {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-self: flex-end;
  }

  .card__img {
    height: auto;
  }

  .card--small {
    width: 352px;
  }

  .more-button-wrapper {
    padding: 33px 50px;
  }
}

/* iPhone 11 Pro Max */
@media (max-width: 414px) {
  .filter-list > ul {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 16px;
  }

  .filter {
    flex: 0 0 auto;
    margin-bottom: 0px;
  }

  .articles {
    grid-template-columns: 374px;
    grid-template-rows: repeat(4, 1fr);
    column-gap: 24px;
    row-gap: 16px;
  }

  .card:nth-child(n+5) {
    display: none;
  }

  .card__img {
    height: 206px;
    width: 374px;

    & > a {
      height: 206px;
    }

    picture {
      height: 100%;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }

  .card--big, .card.card--small:nth-child(odd), .card.card--small:nth-child(even) {
    grid-row: auto;
    grid-column: auto;
    justify-self: unset;
  }

  .card--big {
    .card__info {
      height: 256px;
    }
  }

  .card--small {
    width: 374px;

    .card__info {
      height: 256px;
    }
  }
  
  .more-button-wrapper {
    padding: 28px 59px;
  }
  
}

/* iPhone SE */
@media (max-width: 320px) {
  .articles {
    grid-template-columns: 288px;
  }

  .card--big {
    .card__info {
        height: 274px;
    }
  }

  .card--small {
    width: 288px;

    .card__info {
        height: 274px;
    }
  }

  .card__img {
    width: 288px;
  }

  .card__description {
    letter-spacing: -1px;
  }
}



/* ========= СТАТЬЯ ========= */

.article-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 54px;

  article.article {
    width: 690px;
  }

  & > aside {
    width: 282px;
  }
}

.article__author {
  color: #494949;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 24px;
}

.article__separator::before {
  content: "·";
  display: inline-block;
  line-height: 1;
  padding-bottom: 2px;
  vertical-align: middle;
}

.article__contents {
  margin-top: 24px;

  h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 16px;
  }
}

.article__list {
  list-style: disc;
  margin-left: 22px;

  &.text_underline li {
    text-decoration-line: underline;
  }

  & > li {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;

    & + li:not(:last-child) {
      margin-top: 8px;
    }

    ul {
      margin-left: 18px;

      li {
        margin-top: 4px;
      }
    }

    &:last-child {
      margin-top: 14px;
    }

    &::marker {
      color: #03B2A5;
      font-size: 24px;
    }
  }
}

.article__block-one {
  p {
    margin-bottom: 40px;
  }
}

.article__block-title {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin: 24px 0 16px;
}

.article__text {
  color: #333333;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
}

.article__quote {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  align-items: flex-start;
  padding: 34px 24px 24px;
  border-radius: 16px;
  background: #f3f7fe;

  img {
    position: absolute;
    top: 24px;
  }

  blockquote {
    color: #333333;
    font-style: Italic;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-bottom: 8px;
  }

  figcaption {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;

    cite {
      font-style: normal;
    }
  }
}

.article__block-two {
  .article__list {
    margin-bottom: 24px;

    & > li {
        &:last-child {
            margin-top: 16px;
        }
    }
  }
}

.img-and-subtitle {
  color: #868686;
  font-size: 14px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 0.25px;
  text-align: left;
  margin-bottom: 24px;

  figcaption {
    margin: 16px 0 0;
  }
}

.article__excerpt {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 691px;
  height: 168px;
  text-align: center;
  position: relative;
  background-image: url("../assets/excerpt.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  color: #333333;
  font-style: Italic;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  margin: 24px 0;

  span {
    display: block;
    width: 485px;
    height: 96px;
  }
}

.article__photot-left-text {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 24px 0;

  img {
    flex-shrink: 0;
  }

  .article__text {
    margin-left: 24px;
  }

  &.article__photot-left-text--vertical {
    img, picture {
      width: 282px;
      height: 380px;
      flex-shrink: 0;
    }
  }

  &.article__photot-left-text--horizontal {
    img, picture {
      width: 281px;
      height: 174px;
      flex-shrink: 0;
    }
  }
}

.article__exercise {
  padding: 24px;
  border-radius: 16px;
  background: #fefaec;
  margin: 24px 0;

  figcaption {
    margin-bottom: 8px;
  }

  strong {
    color: rgba(51, 51, 51, 1);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

  &.article__exercise--blue {
    background: #03B2A51A;
  }
}

.article__vertical-text-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.article__vertical-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  .article__text {
    margin-top: 24px;
  }

  & + .article__vertical-text {
    margin-left: 24px;
  }
}

.article__seporator-line {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 24px 0;
}

.article__tags {
  margin-bottom: 48px;

  .article__tags-line {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 20px;

    span {
      color: #2963a3;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;
    }

    span + span::before {
      content: ".";
      display: inline-block;
      height: 20px;
      line-height: 1;
      vertical-align: middle;
      margin-right: 8px;
      margin-left: 8px;
      padding-bottom: 2px;
    }
  }
}

/* ========= Адаптив СТАТЬЯ ========= */

@media (max-width: 1084px) {
  .article-wrapper {
    article.article {
      width: 714px;

      & > img, .img-and-subtitle img {
        width: 714px;
        height: 331px;
      }
    }
  }

  .article__contents {
    .article__list {
      & > li:nth-child(2), li:nth-child(3) {
        display: none;
      }

      & > li:last-child {
        margin-top: 8px;
      }
    }
  }
}

@media (max-width: 992px) {
  .article-wrapper {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    article.article {
      width: 100%;
    }
  }

  .article__photot-left-text.article__photot-left-text--vertical {
    img {
      width: 290px;
      height: 380px;
    }
  }

  .article__photot-left-text.article__photot-left-text--horizontal {
    img {
      width: 294px;
      height: 182px;
    }
  }

  .article__vertical-text {
    width: 50%;

    img {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .article__excerpt {
    width: 100%;
    span {
      width: 80%;
    }
  }

  .article__photot-left-text.article__photot-left-text--vertical {
    img, picture {
      width: 294px;
      height: 380px;
    }
  }
}

@media (max-width: 640px) {
  .article-wrapper {
    margin-top: 32px;

    & article.article {
      & > img, .img-and-subtitle img {
        width: 100%;
        height: auto;
      }
    }
  }

  h1 {
    font-size: 32px;
    line-height: 40px;
  }

  .article__title {
    margin-bottom: 8px;
  }

  .article__author {
    margin-bottom: 16px;
  }

  .article__excerpt {
    height: auto;
    padding-top: 20px;

    span {
      height: auto;
    }
  }

  .article__photot-left-text {
    flex-direction: column;

    .article__text {
      margin-left: 0px;
      margin-top: 16px;
    }
  }

  .article__photot-left-text.article__photot-left-text--vertical {
    img, picture {
      width: 374px;
      height: 380px;
    }
  }

  .article__photot-left-text.article__photot-left-text--horizontal {
    img, picture {
      width: 374px;
      height: 207px;
    }
  }

}

@media (max-width: 474px) {
  .article__vertical-text-wrapper {
    flex-direction: column;
  }

  .article__vertical-text {
    width: 100%;

    & + .article__vertical-text {
      margin-left: 0px;
      margin-top: 24px;
    }
  }
}

@media (max-width: 380px) {
  h1 {
    font-size: 24px;
    line-height: 32px;
  }

  .article-wrapper {
    & article.article {
      & > img, .img-and-subtitle img {
        height: 166px;
      }
    }
  }

  .article__excerpt {
    padding-top: 0px;
  }

  .article__excerpt {
    span {
      width: 100%;
    }
  }

  .article__photot-left-text.article__photot-left-text--vertical,
  .article__photot-left-text.article__photot-left-text--horizontal {
    img, picture {
      width: 100%;
      height: auto;
    }
  }
}

/* ======== ПРАВАЯ КОЛОНКА В СТАТЬЕ ========= */

.mock-card {
  border-radius: 16px;
  background: #e6f0fd;
  padding: 24px 12px;
}

.mock-card__info {
  margin-top: 27px;
  padding: 0 12px;

  button {
    /* width: 234px; */
    width: 100%;
    height: 48px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    padding: 12px 16px;
    border-radius: 4px;
    background: #35b3a9;
    margin-top: 24px;
  }
}

.mock-card__title {
  color: #333333;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
}

.mock-card__description {
  color: #333333;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
  margin-top: 11px;
}

.recommendation {
  border: 1px solid #dedede;
  border-radius: 16px;
  background: #ffffff;
  padding: 24px 16px 36px;
  margin-top: 24px;
  box-shadow: 0px 30px 50px 0px #eff5fb;

  & > button {
    /* width: 250px; */
    width: 100%;
    height: 48px;
    padding: 12px 16px 12px 16px;
    border-radius: 4px;
    background: #35b3a9;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 20px;
  }
}

.recommendation__info {
  padding-bottom: 16px;
  box-shadow: 0px 1px 0px 0px #dedede;
  position: relative;

  .filter-list--card-tags > ul {
    top: -8px;
    left: 0px;
  }

  .filter {
    padding: 3px 6px 3px 6px;

    span {
      color: #333333;
      font-size: 12px;
      font-weight: 500;
      line-height: 18px;
      letter-spacing: 0.25px;
      text-align: left;
    }
  }

  .filter--card-tag {
    border: none;
    border-radius: 6px;
    background: #f3f4f8b3;
  }
  
  & > img {
    margin: 0 auto;
  }
}

.recommendation__name {
  color: #333333;
  font-size: 20px;
  font-weight: 700;
  line-height: 28px;
  letter-spacing: 0%;
  text-align: center;
}

.recommendation__specialization {
  color: #333333;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
}

.recommendation__specialist-info {
  color: #a2a7b1;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: center;
}

.recommendation__description {
  padding-top: 16px;

  h5 {
    color: #333333;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
  }

  .article__list {
    margin-left: 28px;

    & > li {
      color: #333333;
      font-size: 14px;
      font-weight: 400;
      line-height: 20px;
      letter-spacing: 0px;
      text-align: left;

      &:last-child {
        margin-top: 8px;
      }
    }
  }
}

.additional__banner {
  margin-top: 28px;
}

.adv {
  position: relative;
  border-radius: 24px;
  padding: 32px;
  border: 1px solid #dedede;
  margin-top: 42px;

  h4 {
    color: #2963a3;
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: left;

    span {
      font-size: 24px;
      line-height: 32px;
    }
  }

  button {
    border-radius: 4px;
    background: #35b3a9;
    padding: 12px 16px 12px 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    margin-top: 16px;
  }

  img, picture {
    position: absolute;
    right: 0;
    bottom: 0;
  }
}

.adv__description {
  color: #011632;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  margin-top: 16px;
  padding-right: 19px;
}

.adv__price {
  color: #333333;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 16px;
}

/* ======== Адаптив ПРАВАЯ КОЛОНКА В СТАТЬЕ ========= */

@media (max-width: 1084px) {
  .article-wrapper {
    & > aside {
      width: 222px;
    }
  }

  .additional {
    & > *:not(:first-child) {
      margin-top: 24px;
    }
  }

  .adv {
    img {
      width: 86px;
      height: 98px;
    }
  }

  .article__tags {
    display: none;
  }

  .feedback {
    display: none;
  }
}

@media (max-width: 992px) {
  .article-wrapper {
    & > aside {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 248px;
      row-gap: 36px;
      column-gap: 16px;
      width: 100%;
    }
  }

  .additional {
    & > *:not(:first-child) {
      margin-top: 0px;
    }
  }

  .additional__banner {
    width: 100%;
    height: 248px;

    img, picture {
      width: 100%;
      height: 100%;
    }
  }

  .mock-card img {
    margin: 0 auto;
  }

  .adv {
    overflow: hidden;
    padding: 24px 21px 4px;

    img, picture {
      width: 166px;
      height: 133px;
      right: 12px;
      bottom: -25px;
    }
  }
}

@media (max-width: 768px) {
  .adv {
    img, picture {
      right: -4px;
    }
  }
}

@media (max-width: 640px) {
  .adv {
    img, picture {
      right: -4px;
      width: 90px;
      height: 106px;
    }
  }
}

@media (max-width: 474px) {
  .article-wrapper {
    & > aside {
      grid-template-columns: 1fr;
      grid-template-rows: 512px 481px 292px 246px;
      row-gap: 24px;
    }
  }

  .mock-card {
    height: 512px;
    padding: 24px 32px 44px;
  }

  .recommendation {
    height: 481px;
    padding: 24px 62px 36px;
  }

  .recommendation__info {
    .filter-list--card-tags > ul {
      left: -44px;
    }
  }

  .additional__banner {
    height: 292px;
  }

  .adv {
    img, picture {
      right: 10px;
      bottom: -36px;
      width: 200px;
      height: 160px;
    }
  }
}

@media (max-width: 414px) {
  .adv {
    padding: 16px;
  }
}

@media (max-width: 380px) {
  

  .recommendation {
    padding: 24px 20px 36px;
  }

  .recommendation__info {
    .filter-list--card-tags > ul {
      left: 0px;
    }
  }

  .adv {
    img, picture {
      right: 0px;
      bottom: -26px;
      width: 150px;
      height: 138px;
    }
  }
}

/* ======== ОБРАТНАЯ СВЯЗЬ ========= */

.feedback {
  width: 100vw;
  margin-left: calc(-51vw + 51%);
  background-color: #EFF5FB;
  padding-bottom: 82px;
  overflow: hidden;
}

.feedback__wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background-color: #ffffff;
  padding-bottom: 25px;
}

.feedback__line {
  width: 1200px;
  height: 0;
  border: 1px solid #dedede;
  margin-bottom: 72px;
}

.feedback__blocks {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-right: 64px;
  position: relative;
}

.feedback__decor {
  position: absolute;
  top: 0px;
  right: -47%;
}

.feedback__left-block {
  display: flex;
  width: 348px;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.feedback__title {
  color: #333333;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: left;
}

.feedback__subtitle {
  color: #333333;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
  margin-top: 24px;
}

.feedback__button {
  width: 238px;
  height: 60px;
  padding: 20px 24px 20px 24px;
  border-radius: 4px;
  background: #16c8bb;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 32px;
}

.feedback__right-block {
  display: flex;
  width: 448.89px;
  height: 330px;
  align-items: flex-end;
  justify-content: center;
  background-image: url("../assets/feedback.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;


  img {
    width: 369px;
    height: 369px;
    margin-left: -6px;
    margin-bottom: -1px;
  }
}